.courseMaterials img {
  max-width: 100px; max-height: 100px;
}

/* Lesson/Watch */
#lessonWatch {
  position: relative;
}

#lessonWatchCanvas {
  background-color: #cccccc;
  height: 600px
}

#lessonChatbox {

}

#lessonUserlist {
  
}

#lessonWatchResources {
/*  position: absolute;*/
  bottom: 0;
  left: 15px;
  border: #666666 solid 1px;
  padding: 10px;
  background: #fff;
  max-height: 125px;
/*  max-width: 250px;*/
}